@import url("https://fonts.googleapis.com/css2?family=Lato:wght@800&display=swap");

.main {
  position: relative;
  overflow: hidden;
}

.main-img {
  position: relative;
  width: 100%;
  height: 700px;
  object-fit: cover;
  background-size: 100%, 100%;
  background-position: center center;
}

.navbar-main {
  position: absolute;
  top: 0;
  width: 100%;
}

.main-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12%, -50%);
}

.main-header-top {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  /* width: 700px; */
  /* width: 765px; */
}

.main-heading-img {
  width: 100%;
  height: 264px;
  object-fit: cover;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.main-header-name p {
  font-size: 3.5rem;
  color: #000;
  font-weight: 100;
  margin-right: 1rem;
  position: relative;
  top: 1rem;
  text-align: right;
  margin-top: 1rem;
}

.main-header-myname {
  font-size: 3.5rem;
  position: relative;
  top: 0.5rem;
  color: #000;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  margin-top: 0rem;
  margin-right: 1rem;
  letter-spacing: 0.7px;
  text-align: right;
}

.main-header-profession {
  font-size: 1.4rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: left;
  background-color: #faa307;
  color: #000000;
  font-weight: 500;
  padding-left: 0.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  align-self: start;
  width: calc(100% + 17rem);
}

// BIRD
.bird {
  position: absolute;
}

.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}
.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}

.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}

.bird--four {
  animation-duration: 1.1s;
  animation-delay: 0.5s;
}

.bird-container {
  position: absolute;
  top: 18%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bird-container--one {
  animation-duration: 15s;
  animation-delay: 0;
}

.bird-container--two {
  animation-duration: 16s;
  animation-delay: 1s;
}

.bird-container--three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}

.bird-container--four {
  animation-duration: 16s;
  animation-delay: 10.25s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.38) translateX(-10vw);
  }

  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }

  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.42);
  }

  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.44);
  }

  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.48);
  }

  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.5);
  }

  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.52);
  }

  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.52);
  }
}

@media screen and (max-width: 1470px) {
  .main-header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-header-top {
    width: 630px;
    margin: 0 auto;
  }

  .main-header-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .main-header-name p {
    font-size: 3rem;
  }
  .main-header-myname {
    font-size: 3rem;
  }
  .main-header-profession {
    font-size: 1.3rem;
    position: relative;
    align-self: start;
    width: calc(100% + 14rem);
  }
  .main-heading-img {
    width: 200px;
    height: 230px;
  }
}

@media screen and (max-width: 800px) {
  .main-img {
    height: 750px;
  }
  .main-header-top {
    text-align: center;
    width: 100%;
    min-width: 534px;
  }
  .main-header-name p {
    font-size: 2.3rem;
    margin-right: 0.7rem;
  }
  .main-header-myname {
    font-size: 2.3rem;
    margin-right: 0.7rem;
  }
  .main-header-profession {
    font-weight: 500;
    font-size: 1.2rem;
    width: calc(100% + 13.5rem);
  }
}

@media screen and (max-width: 600px) {
  .main-img {
    height: 750px;
  }
  .main-header {
    top: 6rem;
    left: 50%;
    transform: translate(-50%, 2rem);
    width: 80%;
  }
  .main-header-top {
    display: flex;
    width: 100px;
    flex-direction: column;
    text-align: left;
    min-width: 100%;
  }
  .main-header-name p {
    font-size: 2.1rem;
    text-align: left;
    margin-right: 0;
  }
  .main-header-myname {
    font-size: 2.1rem;
    text-align: left;
    margin-top: 4px;
    margin-right: 0;
  }
  .main-header-profession {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    height: 2.4rem;
    width: 100%;
  }
  .main-heading-img {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  .bird-container {
    top: 9.5%;
  }
  @keyframes fly-right-one {
    0% {
      transform: scale(0.3) translateX(-10vw);
    }

    10% {
      transform: translateY(1vh) translateX(10vw) scale(0.3);
    }

    20% {
      transform: translateY(0vh) translateX(30vw) scale(0.3);
    }

    30% {
      transform: translateY(2vh) translateX(50vw) scale(0.3);
    }

    40% {
      transform: translateY(1vh) translateX(70vw) scale(0.3);
    }

    50% {
      transform: translateY(0vh) translateX(90vw) scale(0.3);
    }

    60% {
      transform: translateY(0vh) translateX(110vw) scale(0.3);
    }

    100% {
      transform: translateY(0vh) translateX(110vw) scale(0.3);
    }
  }
}

@media screen and (max-width: 425px) {
  .main-img {
    height: 700px;
  }
  .main-header {
    top: 4rem;
  }
}

@media screen and (max-width: 360px) {
  .main-img {
    height: 700px;
  }
  .main-header {
    top: 6rem;
  }
  .main-header-name p {
    font-size: 2rem;
  }
  .main-header-myname {
    font-size: 2rem;
    text-align: left;
    margin: 0;
    margin-top: 0.7rem;
    padding: 0;
  }
  .main-header-profession {
    font-size: 1.1rem;
    padding-left: 0.3rem;
    width: 100%;
    height: 2.2rem;
  }
  .main-heading-img {
    height: 310px;
  }
  .bird-container {
    top: 6%;
  }
}

/* @media screen and (max-height: 798px) {
  .main-img {
    height: 90vh;
  }
}

@media screen and (max-height: 916px) {
  .main-header {
    width: 85%;
  }
}

@media screen and (max-height: 885px) {
  .main-img {
    height: 87vh;
  }
  .main-heading-img {
    width: auto;
    height: 100%;
    max-height: ;
  }
}

@media screen and (max-height: 798px) {
  .main-img {
    height: 90vh;
  }
}

@media screen and (max-height: 721px) {
  .main-header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-header-top {
    width: 740px;
    margin: 0 auto;
  }
  .main-header {
    width: 72%;
  }
  .main-img {
    height: 100vh;
  }
}
@media screen and (min-height: 721px) {
  .main-header-top: {
  }
}

@media screen and (max-height: 654px) {
  .main-header-myname {
    margin-top: 0.7rem;
    marign-bottom: 0;
  }
  .main-heading-img {
    height: 250px;
  }
}

@media screen and (max-height: 668px) {
  .main-img {
    height: 90vh;
  }
  .main-heading-img {
    max-height: 300px;
  }
  .bird-container {
    top: 7%;
  }
} */

/* @media screen and (max-height: 885px) {
  .main-img {
    height: 87vh;
  }
  .main-heading-img {
    width: auto;
    height: 100%;
    max-height: ;
  }
} */
