.footer {
    background-color: black;
    padding: 1.5rem 0 2rem 0;
    text-align: center;
    color: white;
}

.footer_contact {
    margin-top: 1.0rem;
    margin-bottom: 0.4rem;
    padding: 1.0rem 0;
}

.contact {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_info {
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    -top: 5px;
}

.contact_email > span,
.contact_number > span {
    margin-right: 10px;
    position: relative;
    top: 6.5px;
    font-size: 1.5rem;
}

.social_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social_link > .social {
    color: white;
    font-size: 1.4rem;
    margin: 0 7px;
}

.social:hover,
.contacts:hover {
    color: rgb(14, 197, 253);
}


.footer-rights {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}