

*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'Rubik', sans-serif;
    --clr-lighgreen: #588157;
    --clr-darkgreen: #32473e;
    --clr-red: #ef233c;
    
}


.main {
    padding: 13rem;
    background-color: rgb(233, 233, 233);
    
}

.main-heading {
    font-family: var(--ff-primary);
    color: var(--clr-darkgreen);
    margin: 0 auto;
    font-weight: bold;
    font-size: 2.7rem;
    text-align: center;
    text-shadow: 0px 16px 3px rgba(144, 150, 150, 0.25);}

.name {
    color: var(--clr-red);
} 