.skills_main_container {
    background-color: var(--clr-light);
    width: 100%;
    height: 100%;
}

.container {
    padding: 5.5rem 0;
    background-color: var(--clr-light);
}

.heading {
    text-align: center;
    color: var(--clr-dark);
    padding: 1rem 0;
    font-size: 2.35rem;
    text-shadow: 1px 1px 10px #656565;
    position: relative;
} 

.heading::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    bottom: 0;
    transform: translateX(-95%);
    background-color: var(--clr-dark);
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skills-main {
    padding: 1rem;
    color: var(--clr-dark);
    cursor: pointer;
    
}

@media only screen and (max-width: 800px) {
    .skills {
        display: grid;
        grid-template-columns: auto auto;   
    }
}

.skills-main:hover > .skills-logo::after,
.skills-main:hover > .skills-logo::before {
    width: 35px;
}

.skills-main:hover .logo {
    transform: translateY(-10px);
}

.skills-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.4rem;
    padding-bottom: 0.30rem;
    position: relative;
}
 
.skills-logo::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: var(--clr-dark);
    transition: .5s;
}

.skills-logo::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: var(--clr-dark);
    transition: .5s;
}

.skills-logo h3 {
    color: var(--clr-dark);
    margin-top: 0.75rem;
    font-size: 1.2rem;
}


.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.img {
    width: 75px;
}

.skills_abilities {
    text-align: center;
    background-color: var(--clr-light);
}

.skills_contain {
    display: grid;
    grid-template-columns: 35% 35%;
    font-size: 1.1rem;
    align-items: start;
    justify-content: center;
    padding-bottom: 2.5rem;
}

@media (max-width: 900px) {
    .skills_contain {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .skills_have {
        margin-bottom: 1.5rem;
    }
    .skills_learn {
        margin-bottom: 1.5rem;
    }
}

.skills_softs,
.skills_hards {
    margin-bottom: 1rem;
    font-size: 1.35rem;
}

.skills_soft, 
.skills_hard {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
    color: black;
    flex: 1;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(14, 197, 253) 0, rgb(14, 197, 253) 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background 0.5s;
}
.skills_soft:hover,
.skills_hard:hover {
    background-size: 100% 100%;

}

.ski{
    background-position: 0 0.2em;
    box-shadow: inset 0 -.5em 0 0 var(--clr-light);
  }

.skills_contain li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 0.4rem;
}

.skills_head {
    padding-bottom: 1.4rem;
    margin-top: 0;
    font-size: 1.8rem;
}

