*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.home,
.projectspage,
.skillspage {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.skillspage {
    font-size: 100px;
}
  
.projectspage {
    font-size: 20px;
}